{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Service": "{{ item.value.sts_assume_service  }}.amazonaws.com"
      },
      "Action": "sts:AssumeRole"
    }
  ]
}
